button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}

.btn1{
  color: white ;
  background-color: rgb(13, 180, 13);
  border: 0cap;
  margin-right: 50px;
  margin-left: 40px;
}

.btn2 {
  color: white;
  background-color: rgb(211, 48, 48);
  border: 0cap;
  margin-right: 20px;
  margin-left: 90px;
}

.div3{
  width: 500;
  height: 400;
  background-color:white;
}
#labeltext{
  margin-top: 10px;
  margin-left: 220px;
  font-size: xx-large;
  font-weight: bold;
  
}

#label_icon{
    margin-left: 250px;
      font-size: xx-large;
      font-weight: bold;
}
#label_subtext{
    margin-left: 160px;
      font-size: x-large;
      font-weight: bold;
      padding-bottom: 30px;
}
