

.title{
    color: white;
    text-align: center;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle{
    text-align: center;
    color: beige;
    margin-top: 15px;
    margin-bottom: 30px;
} 

