body{
    margin: 20px;
    background-color: rgb(173, 223, 223);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
  
}

.parent {
    display: grid;
    grid-template-areas: 
      "header header"
      "aside article"
      "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    gap: 20px 20px;
    text-align: center;
  }
  
  header {
    grid-area: header;
    background-color: teal;
    text-align: center;
    padding: 20px;
    
  }
  
  aside {
    grid-area: aside;
    background-color: rgba(38, 227, 38,.6);
    padding-top: 150px;
   
  }
  
  article {
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr ;
    background-color: rgba(255, 165, 0,.8);
    align-items: end;
  }
  
  article img {
  height: 40%;
    width: 95%;
    margin: 5px;
  }
  
  footer {
    grid-area: footer;
    background-color: teal;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }